<h2 class="h2">行先表示の小屋</h2>
<div>行先表示を再現した物を展示する小屋です。</div>
<h2 class="h2">お品書き</h2>
<ul>
    <li>
        <a class="btn btn-primary" href="/led/tokyu5050">東急5050系</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#">E233系</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#">その他</a>
    </li>
</ul>